@inject ClientApiCicloAvaliativo clienteCicloAvaliativo
@inject ClientApiImportacaoAvaliacao clienteImportacao
@inject ClientApiAvaliacao clienteAvaliacao
@inject ClientApiServidor clienteServidor

@page "/avaliacaocomponent"
@using BlazorStrap
@using System.Security
@using HttpClientService
@using Microsoft.AspNetCore.JsonPatch
@using RH.Models
@using Util.Models
@inject IBlazorStrap _blazorStrap
@rendermode InteractiveAuto

<PageTitle>Avaliação visualização</PageTitle>

<h3>avaliacaoComponent</h3>

@code {

}
