@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <!-- Informações do usuário e botão de logout aqui -->
        <div class="top-row px-4">
            <div class="d-flex row align-items-center">
                <div class="col-auto">
                    <span class="mr-2">@usuarioNome</span>
                </div>
                <div class="col-auto">
                    <button class="btn btn-danger ml-auto mr-2" @onclick="Logout">Logout</button>
                </div>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred (um erro ocorreu).
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private string usuarioNome = "Douglas Garcia";
    private void Logout()
    {
        // Implemente a lógica de logout aqui
    }
}
